<div class="container">
  <div class="page-header">
    <%= link_to new_report_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Report
    <% end %>
    <h1>All Reports of Corruption</h1>
  </div>
  
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
              <th>Entity</th>
              <th>Locations</th>
              <th>Reason</th>
              <th>Date of incident</th>
              <th>Cost</th>
              <th>Title</th>
              <th>Description</th>
              <th></th>
        </tr>
      </thead>
  
      <tbody>
        <%= content_tag_for(:tr, @reports) do |report| %>
              <td><%= report.entity %></td>
              <td><%= report.locations %></td>
              <td><%= report.reason %></td>
              <td><%= report.date_of_incident %></td>
              <td><%= report.cost %></td>
              <td><%= report.title %></td>
              <td><%= report.description %></td>
              <td><%= link_to 'Show', report %></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
